body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.marker{
  stroke: rgb(241, 0, 0);
  fill: rgb(255, 227, 68);
}

.marker-add{
  stroke: rgb(241, 0, 0);
  fill: rgb(23, 255, 158);
}

.popup{
  width: 40vw;
  padding: 1rem;
}

.popup img{
  width: 100%;
}

.entry-form label, .entry-form input, .entry-form textarea, .entry-form button{
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}